.App-logo {
  height: 3rem;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 8rem;
  color: white;
  font-family: "Oswald", "Roboto","Helvetica Neue",sans-serif;
  margin-bottom: 4rem;
}

.App-header .title {
  color: white;
}

.App-intro {
  font-size: large;
}

.title {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-family: "Oswald", "Roboto","Helvetica Neue",sans-serif;
}

.is-title-font {
  text-transform: uppercase;
  font-family: "Oswald", "Roboto","Helvetica Neue",sans-serif;
  letter-spacing: .15em;
}

.select, select {
  width: 100%;
}